* {
    list-style: none;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.examples li {
    min-width: 200px;
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.examples a {
}

.examples img {
    display: block;
    height: 200px;
    padding: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 150px;
}

.hero p {
    font-size: 30px;
}