* {
    list-style: none;
}

.examples {
    display: flex;
    flex-wrap: wrap;
}

.examples li {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.examples a {
}

.examples img {
    display: block;
    height: 90px;
    padding: 1rem;
}