:root {
  /* Colors */
  --gray-0: #f8f9fa;
  --gray-05: #f3f6f9;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #4b5056;
  --gray-8: #31363b;
  --gray-9: #212529;
  --gray-10: #27272a;

  --green: #51b681;
  --green-1: #95cd7f;
  --green-2: #73b18a;
  --green-3: #4d8994;
  --green-4: #30619d;
  --green-5: #30379d;

  --red: #f34646;
  --red-1: #efcf4a;
  --red-2: #e0a944;
  --red-3: #d37d36;
  --red-4: #cd583c;
  --red-5: #ab2e3f;

  --blue: #07a7e6;
  --blue-1: #70bdee;
  --blue-2: #618be1;
  --blue-3: #5b5ed5;
  --blue-4: #623ac6;
  --blue-5: #58119f;

  --rainbow-1: #da66b7;
  --rainbow-2: #7549f0;
  --rainbow-3: #4989c6;
  --rainbow-4: #72bf8d;
  --rainbow-5: #f4c950;

  --orange: #ff7e22;
  --yellow: #fca62a;
  --pink: #e855b3;
  --purple: #623ac6;
  --indigo: #5a43f1;
  --indigo-dark: #4509cf;
  --indigo-light: #969bf6;
  --indigo-muted: #f1f2fd;

  /* Font family */
  --font-family-base: "Inter", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "IBM Plex Mono", Menlo, monospace;
  --font-family-heading: "Merriweather", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;

  /* Font color */
  --font-color-hero-heading: var(--gray-0);

  /* Borders */
  --border-color-hover: var(--gray-6);
  --border-radius: 4px;

  /* Elements */
  --navbar: var(--gray-9);
  --file-background: #e9ecef;

  /* Sizs */
  --content-width: 1000px;
  --content-width--small: 550px;
  --content-width--medium: 700px;

  --background-color: var(--gray-8);
  --card-background-color: var(--gray-9);

  --font-color-heading: var(--gray-1);
  --font-color-base: var(--gray-2);
  --font-color-muted: var(--gray-4);
  --font-color-bright: white;

  --border-color: var(--gray-7);

  --button-background-color: var(--gray-8);
  --star: var(--rainbow-5);
  --year: var(--rainbow-4);
  --post-time-color: var(--rainbow-4);
  --card-time-color: var(--rainbow-1);
  --project-time-color: var(--star);
  --link: #a4a9ff;
  --link-hover-color: #222;
  --blockquote-background: var(--gray-9);
  --marker: #e77cc7;
  --file-background: rgba(0, 0, 0, 0.2);
  --inline-code-background-color: rgba(0, 0, 0, 0.2);
  --highlight-color: var(--rainbow-4);

  --code-font-color: #b3b9c5;
  --code-background-color: var(--gray-9);
  --terminal-background-color: #111;
  --terminal-color: var(--rainbow-4);
  --terminal-bar: -webkit-linear-gradient(top, #444, #222);
  --terminal-border: var(--border-color);
  --terminal-accent: var(--gray-6);
  --string: #92d192;
  --variable: #f2777a;
  --property: #b3b9c5;
  --number: #fca369;
  --operator: #ac8d58;
  --punctuation: #c7cdd7;
  --comment: #777c85;
  --function: #76d4d6;
  --keyword: #ffeea6;
  --attribute: #ffd479;
  --class: #e1a6f2;
  --tag: #6ab0f3;
  --error: #b0292c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.6;
  font-size: 16px;
  font-weight: normal;
  font-kerning: normal;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

a {
  color: var(--link);
  text-decoration: none;
}

p,
ul,
ol,
ul,
table,
blockquote {
  color: var(--font-color-base);
}

p,
ul,
ol {
  -webkit-font-smoothing: auto;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 1.5rem;
  letter-spacing: -0.01rem;
}

ul {
  padding-left: 1.5rem;
}

ul li ul,
ol li ol {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

li {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
}

li::marker {
  font-size: 1.1rem;
  line-height: 1;
  color: var(--marker);
}

/*main {*/
/*  margin-top: 60px;*/
/*}*/

/* Blockquote */

blockquote {
  margin: 1.5rem 0;
  border-left: 4px solid var(--indigo-light);
  margin-left: 0;
  padding: 1rem;
  background: var(--blockquote-background);
  border-radius: var(--border-radius);
}

blockquote p {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
}

blockquote p:last-of-type {
  margin: 0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color-heading);
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 600;
  scroll-margin-top: 80px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h2 + h3 {
  margin-top: 1.5rem !important;
}

h2 {
  font-size: 1.9rem;
  margin: 0 0 1rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--font-color-heading);
  letter-spacing: -0.03rem;
}

h2 code {
  font-size: 1.9rem !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--font-color-heading);
  font-family: var(--font-family-heading);
}

h3 code {
  font-size: 1.5rem !important;
}

h4,
h4 code {
  color: var(--font-color-base);
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  color: var(--font-color-base);
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  font-family: var(--font-family-heading);
}

h2.home-heading {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 0;
}

h2.home-heading .title {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  font-family: var(--font-family-base);
  font-weight: 700;
  letter-spacing: -0.03rem;
}

@media screen and (min-width: 800px) {
  h2.home-heading .title {
    font-size: 1.6rem;
  }
}

/* Buttons */

button,
a.button {
  -webkit-appearance: none;
  background: var(--button-background-color);
  display: inline-flex;
  align-items: center;
  padding: 0.6rem 1rem;
  font-family: var(--font-family-base);
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--font-color-base);
  border: 1px solid var(--border-color);
  gap: 0.25rem;
}

button.large,
a.button.large {
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
}

button.small,
a.button.small {
  padding: 0.3rem 0.6rem;
  font-size: 0.85rem;
}

button img,
a.button img {
  max-height: 20px;
  margin-right: 0.25rem;
}

button:hover,
a.button:hover {
  color: var(--font-color-bright);
  border-color: var(--border-color-hover);
}

.red-1 {
  background: var(--red-1);
}

.red-2 {
  background: var(--red-2);
}

.red-3 {
  background: var(--red-3);
}

.red-4 {
  background: var(--red-4);
}

.red-5 {
  background: var(--red-5);
}

.green-1 {
  background: var(--green-1);
}

.green-2 {
  background: var(--green-2);
}

.green-3 {
  background: var(--green-3);
}

.green-4 {
  background: var(--green-4);
}

.green-5 {
  background: var(--green-5);
}

.blue-1 {
  background: var(--blue-1);
}

.blue-2 {
  background: var(--blue-2);
}

.blue-3 {
  background: var(--blue-3);
}

.blue-4 {
  background: var(--blue-4);
}

.blue-5 {
  background: var(--blue-5);
}

.rainbow-1 {
  background: var(--rainbow-1);
}

.rainbow-2 {
  background: var(--rainbow-2);
}

.rainbow-3 {
  background: var(--rainbow-3);
}

.rainbow-4 {
  background: var(--rainbow-4);
}

.rainbow-5 {
  background: var(--rainbow-5);
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  list-style: none;
}

main h2 {
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 1rem;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.examples li {
  min-width: 150px;
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.examples img {
  display: block;
  height: 150px;
  padding: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
}

.sub {
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 1.5px;
}

.button.large.start {
  background-color: var(--blue);
  color: var(--gray-2);
}

.button.large.cta {
  color: var(--blue);
  border: none;
}

.description {
  width: 60rem;
  padding: 1rem 10rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 2rem;
  }
}

#container {
  max-width: var(--content-width);
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 90px;
  margin-bottom: 1rem;
}

.results-container {
  display: flex;
  justify-content: space-between;
}

.results {
  display: block;
  color: rgb(255, 60, 0);
}

.header {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#input-text {
  border: 1px rgba(0, 0, 0, 0.2) solid;
  padding: 7px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.todo-buttons {
  display: flex;
  justify-content: center;
}

.add-todo-button {
  margin: 5px;
}
