<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div class="main">
  <h1>My To Do List</h1>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
  />

  <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
  <button class="btn-primary" (click)="addXItems(1, newItem.value)">
    Add 1
  </button>
  <button class="btn-primary" (click)="addXItems(1000, newItem.value)">
    Add 1K
  </button>
  <button class="btn-primary" (click)="addXItems(5000, newItem.value)">
    Add 5K
  </button>
  <button class="btn-primary" (click)="addXItems(10000, newItem.value)">
    Add 10K
  </button>
  <button class="btn-primary" (click)="addXItems(50000, newItem.value)">
    Add 50K
  </button>
  <button class="btn-primary" (click)="addXItems(100000, newItem.value)">
    Add 100K
  </button>

  <ul>
    <li *ngFor="let todo of todos">{{ todo.description }}</li>
  </ul>
</div>
